*.tga
*.pfm
*.vcxproj
*.user
*.sdf
*.suo
*.opensdf
renderer/common/image/x64
renderer/common/lexers/x64
renderer/common/sys/x64
renderer/devices/device/x64
renderer/devices/device_network/x64
renderer/devices/device_singleray/x64
renderer/devices/renderer/x64
renderer/ipch
renderer/x64

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
